@using MiniSurveys.Web.Models.Survey.NewSurvey
@model NewSurveyViewModel

<form method="post" asp-action="CreateSurvey">
    <div class="main-body__title title create-survey__title">
        <h1>Создание нового опроса</h1>
    </div>
    <div class="create-survey__name-survey">
        <label asp-for="Title">Название опроса</label>
        <input asp-for="Title" type="text" placeholder="Введите название">
        <span asp-validation-for="Title"></span>
    </div>

    <div class="create-survey__period-survey">
        <label for="">Период</label>
        <div class="create-survey__period-survey-period">
            <label asp-for="Start">От</label>
            <input asp-for="Start" type="datetime-local">
            <label asp-for="End">До</label>
            <input asp-for="End" type="datetime-local">
        </div>
        <span asp-validation-for="Start"></span>
        <span asp-validation-for="End"></span>
        <span asp-validation-for="Questions"></span>
    </div>
    <button class="create-survey__add" id="addQuestion">Добавить вопрос</button>
    <div class="create-survey__list" id="questionList">
        @{
            for (int i = 0; i < Model.Questions.Count; i++)
            {
                int number = i + 1;
                ViewData["QuestionId"] = i;
                <div class="create-survey__item" id="q_@ViewData["QuestionId"]">
                    <div class="create-survey__item-header-div">
                        <div class=""></div>
                        <div class="create-survey__header">
                            <span id="number_q_@ViewData["QuestionId"]">Вопрос @number </span>
                            <button id="deleteQuestion_@ViewData["QuestionId"]">Удалить</button>
                        </div>
                    </div>
                    <div class="create-survey__body">
                        <div class="create-survey__body-header">
                            <div class="create-survey__body-header-title">
                                <span class="create-survey__body-title3">Текст вопроса</span>
                                <input id="title_q_@ViewData["QuestionId"]" type="text" placeholder="Введите текст вопроса" asp-for="Questions[i].QuestionTitle">
                            </div>
                            <div class="create-survey__body-header-title-validation">
                                <span asp-validation-for="Questions[i].QuestionTitle"></span>
                            </div>
                            <div class="create-survey__body-header-download" id="addMedia">
                                <button id="addMedia_@ViewData["QuestionId"]">Добавить мультимедия</button>
                            </div>
                            <div class="create-survey__body-header-list" id="mediaList_@ViewData["QuestionId"]">
                                @for (int j = 0; j < Model.Questions[i].Medias.Count; j++)
                                {
                                    ViewData["MediaId"] = j;

                                    <div id="@ViewData["QuestionId"]_number_m_@ViewData["MediaId"]" class="create-survey__body-header-item">
                                        <input id="@ViewData["QuestionId"]_signature_m_@ViewData["MediaId"]" asp-for="Questions[i].Medias[j].Signature" type="text" placeholder="Подпись мультимедия">
                                        <select id="@ViewData["QuestionId"]_type_m_@ViewData["MediaId"]" asp-for="Questions[i].Medias[j].SelectedType.Value" asp-items="@Model.Questions[i].Medias[j].TypeSelectedList"></select>
                                        <input id="@ViewData["QuestionId"]_link_m_@ViewData["MediaId"]" asp-for="Questions[i].Medias[j].Link" type="text" placeholder="Вставьте ссылку">
                                        <button><img id="@ViewData["QuestionId"]_deleteMedia_@ViewData["MediaId"]" src="../img/ilusha.svg" alt=""></button>
                                    </div>
                                    <div id="@ViewData["QuestionId"]_v_m_@ViewData["MediaId"]" class="create-survey__body-header-item-validation">
                                        <span asp-validation-for="Questions[i].Medias[j].Signature"></span>
                                        <label></label>
                                        <span asp-validation-for="Questions[i].Medias[j].Link"></span>
                                        <div></div>
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="create-survey__body-body">
                            <div class="create-survey__body-header-title">
                                <span class="create-survey__body-title3">Варианты ответов</span>
                            </div>
                            <div class="create-survey__body-header-title-answer-validation">
                                <span asp-validation-for="Questions[i].Answers"></span>
                            </div>
                            <div class="create-survey__body-header-download create-survey__body-header-add-answer">
                                <button id="addAnswer_@ViewData["QuestionId"]">Добавить ответ</button>
                            </div>
                            <div class="create-survey__body-header-item-title">
                                <span>№</span>
                                <span>Текст варианта ответа</span>
                            </div>
                            <div class="create-survey__body-body-list" id="answerList_@ViewData["QuestionId"]">
                                @for (int j = 0; j < Model.Questions[i].Answers.Count; j++)
                                {
                                    int numberAsnwer = j + 1;
                                    ViewData["AnswerId"] = j;

                                    <div id="@ViewData["QuestionId"]_a_@ViewData["AnswerId"]" class="create-survey__body-body-item">
                                        <div class="create-survey__body-body-item-body">
                                            <div class="create-survey__body-body-item-body-answer">
                                                <span id="@ViewData["QuestionId"]_number_a_@ViewData["AnswerId"]">@numberAsnwer</span>
                                                <input id="@ViewData["QuestionId"]_title_a_@ViewData["AnswerId"]" asp-for="Questions[i].Answers[j].AnswerTitle" type="text" placeholder="Введите текст ответа">
                                                <button><img id="@ViewData["QuestionId"]_deleteAnswer_@ViewData["AnswerId"]" src="../img/ilusha.svg" alt=""></button>
                                            </div>
                                            <div class="create-survey__body-body-item-body-answer-validation">
                                                <span asp-validation-for="Questions[i].Answers[j].AnswerTitle"></span>
                                            </div>
                                            <div class="create-survey__body-body-item-body-link">
                                                <input id="@ViewData["QuestionId"]_signature_a_m_@ViewData["AnswerId"]" asp-for="Questions[i].Answers[j].SignatureMedia" type="text" data-val="false" data-val-required="Не указана подпись мультимедиа" placeholder="Подпись мультимедия">
                                                <select id="@ViewData["QuestionId"]_type_a_m_@ViewData["AnswerId"]" asp-for="Questions[i].Answers[j].SelectedTypeMedia.Value" asp-items="Model.Questions[i].Answers[j].TypeSelectedListMedia"></select>
                                                <input id="@ViewData["QuestionId"]_link_a_m_@ViewData["AnswerId"]" asp-for="Questions[i].Answers[j].LinkMedia" type="text" data-val="false" data-val-required="Не указана ссылка на мультимедиа" placeholder="Вставьте ссылку">
                                                <div class="create-survey__body-body-item-body-checkbox">
                                                    <label asp-for="Questions[i].Answers[j].IsActive">Использовать?</label>
                                                    <input id="@ViewData["QuestionId"]_active_a_@ViewData["AnswerId"]" asp-for="Questions[i].Answers[j].IsActive" type="checkbox" value="true">
                                                </div>
                                            </div>
                                            <div class="create-survey__body-body-item-body-link-validation">
                                                <span asp-validation-for="Questions[i].Answers[j].SignatureMedia"></span>
                                                <label></label>
                                                <span asp-validation-for="Questions[i].Answers[j].LinkMedia"></span>
                                                <div></div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
    <input type="submit" class="create-survey__body-save" value="Сохранить опрос">
</form>