@using System.Globalization
@using MiniSurveys.Web.Helpers
@using MiniSurveys.Domain.Modals.Enums
@model MiniSurveys.Domain.Modals.Survey

@{
    string state = Model.SurveyState == SurveyStateTypeEnum.Finished ? "завершен" : "завершится";
}

<div class="main__item">
    <div class="main__date-closed">
        @if (Model.SurveyState != SurveyStateTypeEnum.NoActive)
        {
            <span>Опрос @state: @Model.EndTime.ToString("F", new CultureInfo("ru-Ru"))</span>
        }
        else
        {
            <span>Опрос начнется: @Model.StartTime.ToString("F", new CultureInfo("ru-Ru"))</span>
        }
    </div>
    <div class="main__survey">
        <div class="main__survey-img">
            <img src="img/default_avatar.png" alt="">
        </div>
        <div class="main__survey-main">
            <h3 class="main__survey-title">@Model.Title</h3>
            <span class="main__date-of-create">Создано Нет данных | Изменено Нет данных</span>
            @if(Model.SurveyState != SurveyStateTypeEnum.Finished){
                <a asp-action="Survey" asp-controller="Survey" asp-route-id="@Model.Id" class="@Html.isActiveSurvey(Model.SurveyState)">Принять участие</a>
            }
            else
            {
                <a asp-action="Survey" asp-controller="Survey" asp-route-id="@Model.Id">Посмотреть результаты</a>
            }
        </div>
    </div>
</div>