@using System.Globalization
@using MiniSurveys.Domain.Modals
@using MiniSurveys.Web.Helpers
@using MiniSurveys.Domain.Modals.Enums
@model MiniSurveys.Domain.Modals.Survey
@inject MiniSurveys.Domain.Data.ApplicationDbContext context
@inject Microsoft.AspNetCore.Identity.UserManager<User> userManager;

@{
    string state = Model.EndTime <= DateTime.Now ? "завершен" : "завершится";
}

@{
    var user = await userManager.GetUserAsync(User);
    var role = (await userManager.GetRolesAsync(user)).ElementAt(0);
    var t = context.Results.FirstOrDefault(x => x.UserId == user.Id && x.SurveyId == Model.Id);
    var s = 1;
}

<div class="main__item">
    <div class="main__date-closed">
        @if (Model.StartTime < DateTime.Now)
        {
            <span>Опрос @state: @Model.EndTime.ToString("F", new CultureInfo("ru-Ru"))</span>
        }
        else
        {
            <span>Опрос начнется: @Model.StartTime.ToString("F", new CultureInfo("ru-Ru"))</span>
        }
    </div>
    <div class="main__survey">
        <div class="main__survey-img">
            <img src="img/default_avatar.png" alt="">
        </div>
        <div class="main__survey-main">
            <h3 class="main__survey-title">@Model.Title</h3>
            <span class="main__date-of-create">Создано Нет данных | Изменено Нет данных</span>
            <div class="main__superbutton">
                @if (Model.EndTime > DateTime.Now && t == null)
                {
                    <a asp-action="Survey" asp-controller="Survey" asp-route-id="@Model.Id" class="@Html.isActiveSurvey(Model.StartTime)">Принять участие</a>
                }
                
                @if (Model.EndTime <= DateTime.Now | t != null | (role == "HR" && Model.StartTime <= DateTime.Now))
                {
                    <a asp-action="Results" asp-controller="Survey" asp-route-id="@Model.Id">Посмотреть результаты</a>
                }
            </div>
        </div>
    </div>
</div>