@model MiniSurveys.Web.Models.UserViewModel

<tr>
    <td>@Model.UserName</td>
    <td>@Model.Name</td>
    <td>@Model.Surname</td>
    <td>@Model.Patronymic</td>
    <td>@Model.Email</td>
    <td>@Model.Phone</td>
    <td>@Model.Department.Name</td>
    <td>@Model.Role</td>
    <td class="td__img">
        <button><img src="~/img/settings.svg" alt=""></button>
        <button><img src="~/img/ilusha.svg" alt=""></button>
    </td>
</tr>