@using MiniSurveys.Domain.Modals.Enums
@model MiniSurveys.Web.Models.Survey.MediaViewModel

@{
    var visible = Model.Number == 1 ? "display: block;" : "";
}

<div class="mySlides fade" style="@visible">
    <div class="numbertext">@Model.Number / @Model.MaxNumber</div>
    @switch(Model.Type)
    {
        case TypeMedia.Image:
            <img src="@Model.Url" title="@Model.Title">
            <div class="text">@Model.Title</div>
            break;
        case TypeMedia.Video:
            <iframe width="560" height="315" src="https://www.youtube.com/embed/@Model.Url" title="@Model.Title" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            break;
    }
</div>
